
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --dark-blue: #1b325d;
}

body {

  font-family: "Nunito", sans-serif;
  height: 100%;
}







#switchDarkMode {
  cursor: pointer;
}

#title {
  width: auto;
}

#phone {
  transform: translateX(-50%);
  /* transform: translateY(-50%); */
}
