@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

span, #hello {
  /* font-family: "Sriracha", cursive; */
  /* font-family: "Shadows Into Light Two", cursive; */
  font-family: "Patrick Hand SC", cursive;
  /* font-family: "Mynerve", cursive; */
  font-size: 1.2rem;
  /* font-style: italic; */
}

#switchDarkMode {
  cursor: pointer;
}
