@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

// 1. Include functions first
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #1b325d; // Custom primary color (optional)
$warning: orange;  // Custom warning color (optional)
$headings-font-family: "Staatliches", sans-serif;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

.navbar-brand, .navbar-nav .nav-link, footer {
    font-family: 'Staatliches', sans-serif !important;
  }

// 6. Include components
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type"; // This handles typography like headings
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/navbar";
