@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {

    --color-primary-light: #F9F8EB;
    --color-primary-dark: #05004E;
    --color-accent-1: #76B39D;
    --color-accent-2: #FD5F00;
    --color-gray: #64748B;

    --color-primary-light: #F5F5F5;
    --color-primary-dark: #000839;
    --color-accent-1: #005082; /*blue*/
    --color-accent-2: #FFA41B; /*orange*/
    --color-gray: #64748B;

    --font-title: "Barlow Condensed", sans-serif;
    --font-body: "Raleway", sans-serif;
}

p {
    @apply text-base;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-title uppercase;
}

h1 {
    @apply text-4xl sm:text-5xl;
}

h2 {
    @apply text-3xl;
}